<?xml version="1.0" encoding="UTF-8"?>

<!--
 * Apache 2.0 License
 *
 * Copyright (c) Hao Lin 2019
 *
 * This file contains Original Code and/or Modifications of Original Code
 * as defined in and that are subject to the Apache License
 * Version 2.0 (the 'License'). You may not use this file except in
 * compliance with the License. Please obtain a copy of the License at
 * http://opensource.org/licenses/Apache-2.0/ and read it before using this
 * file.
 *
 * The Original Code and all software distributed under the License are
 * distributed on an 'AS IS' basis, WITHOUT WARRANTY OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, AND APPLE HEREBY DISCLAIMS ALL SUCH WARRANTIES,
 * INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT.
 * Please see the License for the specific language governing rights and
 * limitations under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ijkplayer"
        version="0.1.0">

    <name>ijkPlayer</name>

    <description>ijkplayer for cordova</description>

    <repo>https://github.com/haolin/cordova-plugin-ijkplayer.git</repo>

    <keywords>ijkplayer</keywords>

    <license>Apache 2.0</license>

    <author>Hao Lin</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova"         version=">=8.0.0"  />
        <engine name="cordova-plugman" version=">=4.3.0"  />
        <engine name="cordova-android" version=">=6.4.0"  />
        <engine name="android-sdk"     version=">=21" />
        <engine name="apple-ios"       version=">=8.0.0" />
    </engines>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- js -->
    <js-module src="www/ijkplayer.js" name="IjkPlayer">
        <clobbers target="cordova.plugins.ijkplayer" />
    </js-module>

    <!-- ios -->
    <!--  
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LocalNotification">
                <param name="ios-package" value="APPLocalNotification" onload="true" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="UserNotifications.framework" />
        <framework src="CoreLocation.framework" />

        <header-file src="src/ios/APPLocalNotification.h" />
        <source-file src="src/ios/APPLocalNotification.m" />

        <header-file src="src/ios/APPNotificationCategory.h" />
        <source-file src="src/ios/APPNotificationCategory.m" />

        <header-file src="src/ios/APPNotificationContent.h" />
        <source-file src="src/ios/APPNotificationContent.m" />

        <header-file src="src/ios/APPNotificationOptions.h" />
        <source-file src="src/ios/APPNotificationOptions.m" />

        <header-file src="src/ios/UNUserNotificationCenter+APPLocalNotification.h" />
        <source-file src="src/ios/UNUserNotificationCenter+APPLocalNotification.m" />

        <header-file src="src/ios/UNNotificationRequest+APPLocalNotification.h" />
        <source-file src="src/ios/UNNotificationRequest+APPLocalNotification.m" />
    </platform>
    -->

    <!-- android -->
    <platform name="android">
        <preference name="ANDROID_SUPPORT_V4_VERSION" default="21.+" />
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
        <framework src="src/android/build/ijkplayer.gradle" custom="true" type="gradleReference"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IjkPlayer">
                <param name="android-package" value="org.apache.cordova.ijkplayer.IjkPlayer"/>
            </feature>
        </config-file>

        <config-file target="strings.xml" parent="resources">
            <string name="hello_world">Hello world!</string>
            <string name="action_settings">Settings</string>
            <string name="N_A">N/A</string>
            <string name="close">Close</string>
            <string name="exit">Exit</string>
            <string name="sample">Sample</string>
            <string name="recent">Recent</string>
            <string name="settings">Settings</string>
            <string name="tracks">Tracks</string>
            <string name="toggle_player">Player</string>
            <string name="toggle_render">Render</string>
            <string name="toggle_ratio">Scale</string>
            <string name="show_info">Info</string>
            <string name="vdec">vdec</string>
            <string name="fps">fps</string>
            <string name="v_cache">v-cache</string>
            <string name="a_cache">a-cache</string>
            <string name="load_cost">load-cost</string>
            <string name="seek_cost">seek_cost</string>
            <string name="seek_load_cost">seek_load_cost</string>
            <string name="tcp_speed">tcp_speed</string>
            <string name="bit_rate">bit_rate</string>
            <string name="media_information">Media Information</string>
            <string name="mi_player">Player</string>
            <string name="mi_media">Media</string>
            <string name="mi_profile_level">Profile level</string>
            <string name="mi_pixel_format">Pixel format</string>
            <string name="mi_resolution">Resolution</string>
            <string name="mi_length">Length</string>
            <string name="mi_stream_fmt1">Stream #%d</string>
            <string name="mi_type">Type</string>
            <string name="mi_language">Language</string>
            <string name="mi_codec">Codec</string>
            <string name="mi_frame_rate">Frame rate</string>
            <string name="mi_bit_rate">Bit rate</string>
            <string name="mi_sample_rate">Sample rate</string>
            <string name="mi_channels">Channels</string>
            <string name="mi__selected_video_track">*</string>
            <string name="mi__selected_audio_track">*</string>
            <string name="mi__selected_subtitle_track">*</string>
            <string name="TrackType_video">Video</string>
            <string name="TrackType_audio">Audio</string>
            <string name="TrackType_subtitle">Subtitle</string>
            <string name="TrackType_timedtext">Timed text</string>
            <string name="TrackType_metadata">Meta data</string>
            <string name="TrackType_unknown">Unknown</string>
            <string name="VideoView_error_text_invalid_progressive_playback">Invalid progressive playback</string>
            <string name="VideoView_error_text_unknown">Unknown</string>
            <string name="VideoView_error_button">OK</string>
            <string name="VideoView_ar_aspect_fit_parent">Aspect / Fit parent</string>
            <string name="VideoView_ar_aspect_fill_parent">Aspect / Fill parent</string>
            <string name="VideoView_ar_aspect_wrap_content">Aspect / Wrap content</string>
            <string name="VideoView_ar_match_parent">Free / Fill parent</string>
            <string name="VideoView_ar_16_9_fit_parent">16:9 / Fit parent</string>
            <string name="VideoView_ar_4_3_fit_parent">4:3 / Fit parent</string>
            <string name="VideoView_render_none">Render: None</string>
            <string name="VideoView_render_surface_view">Render: SurfaceView</string>
            <string name="VideoView_render_texture_view">Render: TextureView</string>
            <string name="VideoView_player_none">Player: None</string>
            <string name="VideoView_player_AndroidMediaPlayer">Player: AndroidMediaPlayer</string>
            <string name="VideoView_player_IjkMediaPlayer">Player: IjkMediaPlayer</string>
            <string name="VideoView_player_IjkExoMediaPlayer">Player: IjkExoMediaPlayer</string>
        </config-file>

        <config-file target="strings.xml" parent="resources">
            <string name="hello_world">Hello world!</string>
            <string name="action_settings">Settings</string>
            <string name="N_A">N/A</string>
            <string name="close">Close</string>
            <string name="exit">Exit</string>
            <string name="sample">Sample</string>
            <string name="recent">Recent</string>
            <string name="settings">Settings</string>
            <string name="tracks">Tracks</string>
            <string name="toggle_player">Player</string>
            <string name="toggle_render">Render</string>
            <string name="toggle_ratio">Scale</string>
            <string name="show_info">Info</string>
            <string name="vdec">vdec</string>
            <string name="fps">fps</string>
            <string name="v_cache">v-cache</string>
            <string name="a_cache">a-cache</string>
            <string name="load_cost">load-cost</string>
            <string name="seek_cost">seek_cost</string>
            <string name="seek_load_cost">seek_load_cost</string>
            <string name="tcp_speed">tcp_speed</string>
            <string name="bit_rate">bit_rate</string>
            <string name="media_information">Media Information</string>
            <string name="mi_player">Player</string>
            <string name="mi_media">Media</string>
            <string name="mi_profile_level">Profile level</string>
            <string name="mi_pixel_format">Pixel format</string>
            <string name="mi_resolution">Resolution</string>
            <string name="mi_length">Length</string>
            <string name="mi_stream_fmt1">Stream #%d</string>
            <string name="mi_type">Type</string>
            <string name="mi_language">Language</string>
            <string name="mi_codec">Codec</string>
            <string name="mi_frame_rate">Frame rate</string>
            <string name="mi_bit_rate">Bit rate</string>
            <string name="mi_sample_rate">Sample rate</string>
            <string name="mi_channels">Channels</string>
            <string name="mi__selected_video_track">*</string>
            <string name="mi__selected_audio_track">*</string>
            <string name="mi__selected_subtitle_track">*</string>
            <string name="TrackType_video">Video</string>
            <string name="TrackType_audio">Audio</string>
            <string name="TrackType_subtitle">Subtitle</string>
            <string name="TrackType_timedtext">Timed text</string>
            <string name="TrackType_metadata">Meta data</string>
            <string name="TrackType_unknown">Unknown</string>
            <string name="VideoView_error_text_invalid_progressive_playback">Invalid progressive playback</string>
            <string name="VideoView_error_text_unknown">Unknown</string>
            <string name="VideoView_error_button">OK</string>
            <string name="VideoView_ar_aspect_fit_parent">Aspect / Fit parent</string>
            <string name="VideoView_ar_aspect_fill_parent">Aspect / Fill parent</string>
            <string name="VideoView_ar_aspect_wrap_content">Aspect / Wrap content</string>
            <string name="VideoView_ar_match_parent">Free / Fill parent</string>
            <string name="VideoView_ar_16_9_fit_parent">16:9 / Fit parent</string>
            <string name="VideoView_ar_4_3_fit_parent">4:3 / Fit parent</string>
            <string name="VideoView_render_none">Render: None</string>
            <string name="VideoView_render_surface_view">Render: SurfaceView</string>
            <string name="VideoView_render_texture_view">Render: TextureView</string>
            <string name="VideoView_player_none">Player: None</string>
            <string name="VideoView_player_AndroidMediaPlayer">Player: AndroidMediaPlayer</string>
            <string name="VideoView_player_IjkMediaPlayer">Player: IjkMediaPlayer</string>
            <string name="VideoView_player_IjkExoMediaPlayer">Player: IjkExoMediaPlayer</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file
            src="src/android/xml/ijkplayer_provider_paths.xml"
            target-dir="res/xml" />

        <source-file
            src="src/android/ijkplayer/media/AndroidMediaController.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/FileMediaDataSource.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/IjkVideoView.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/IMediaController.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/InfoHudViewHolder.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/IRenderView.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/MeasureHelper.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/MediaPlayerCompat.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/PlayerManager.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/SurfaceRenderView.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/TableLayoutBinder.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

        <source-file
            src="src/android/ijkplayer/media/TextureRenderView.java"
            target-dir="src/org/apache/cordova/ijkplayer/media" />

    </platform>

</plugin>
